---
hetzner_token: $HETZNER_TOKEN
cluster_name: $CLUSTER_NAME
kubeconfig_path: "./kubeconfig"
k3s_version: v1.21.3+k3s1
public_ssh_key_path: "~/.ssh/id_rsa.pub"
private_ssh_key_path: "~/.ssh/id_rsa.pem"
ssh_allowed_networks:
  - 0.0.0.0/0
api_allowed_networks:
  - 0.0.0.0/0

schedule_workloads_on_masters: false
masters_pool:
  instance_type: cpx21
  instance_count: $MASTERS_POOL_SIZE
  # Valid locations:
  # Germany: nbg1, fsn1
  # Finland: hel1
  # US West: hil
  # US East: ash
  location: $CLUSTER_LOCATION
  labels:
    - key: purpose
      value: master
  # taints:
  #   something: value1:NoSchedule
worker_node_pools:
- name: workers
  instance_type: $WORKERS_INSTANCE_TYPE
  instance_count: $WORKERS_POOL_SIZE
  autoscaling:
    enabled: $AUTOSCALING_ENABLED
    min_instances: $WORKERS_POOL_SIZE_MIN
    max_instances: $WORKERS_POOL_SIZE_MAX
  location: $CLUSTER_LOCATION
  labels:
    - key: purpose
      value: worker
additional_packages:
#- somepackage
post_create_commands:
- apt update
- apt upgrade -y
- apt autoremove -y
- shutdown -r now
enable_encryption: true
