# TODO(acorn1010): Switch with a nice clustered Redis with lots of persistence-y stuff.
---
apiVersion: v1
kind: Namespace
metadata:
  name: redis
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-configmap
  namespace: redis
data:
  redis-stack.conf: |
    requirepass $REDIS_PASSWORD
    dir /mnt/data
    appendonly yes
    daemonize yes
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-redis
  namespace: redis
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 40Gi
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-statefulset
  namespace: redis
spec:
  serviceName: redis-service
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis-container
          image: redis/redis-stack-server:latest
          env:
            - name: REDIS_DATA_DIR # Required. Seems to overwrite the ConfigMap
              value: "/mnt/data"
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: mnt-data
              mountPath: /mnt/data
            - name: config
              mountPath: /redis-stack.conf
              subPath: ./redis-stack.conf
              readOnly: true
      volumes:
        - name: mnt-data
          persistentVolumeClaim:
            claimName: pvc-redis
        - name: config
          configMap:
            name: redis-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: redis
spec:
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
# TODO(acorn1010): When we get 3+ nodes, switch to Redis Enterprise:
# https://docs.redis.com/latest/kubernetes/deployment/quick-start/
